{% load static %}
<header class="header-area">
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container h-100">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'home' %}">Stock Tracker Coffee</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
					<li><a href="{% url 'papeis' %}">Papeis</a></li>
					<li><a href="#">Minhas negociações</a></li>
					<li><a href="{% url 'visualizar_corretoras' %}">Minhas corretoras</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
</header>
<br><br><br><br><br><br><br>