{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

<div class="contact-area section-padding-0-80">
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Cadastrar Papel</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include 'partials/_alertas.html' %}
                    <div class="contact-form-area">
                        <form action="{% url 'cadastro_papel' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                <label for="email"><b>Código</b></label>
                                    <input type="text" id="codigo" class="form-control" name="codigo" placeholder="Ex.:PETR4" required>
                                </div>
                                    <div class="col-12 col-lg-12">
                                    <label for="senha"><b>Tipo</b></label>
                                    <input id="tipo" type="text" class="form-control" name="tipo" placeholder="Ação, FII, ETF" required>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-success" type="submit">Cadastrar Papel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}